# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Entornos virtuales
venv/
env/
myenv/
ENV/
entorno/

# Base de datos
*.db
*.sqlite3

# Archivos de entorno
.env
.env.local
.secrets

# Archivos de IDE
.vscode/
.idea/

# Archivos estáticos y multimedia (si no están versionados)


# Logs y directorios temporales
*.log
*.pot
*.pid
*.tmp

# Archivos de despliegue
.dockerignore
Dockerfile
docker-compose.yml

"db.sqlite3" 
db.sqlite3